@font-face {
    font-family: outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: young-serif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body{
    background-color: #FFDEAD;
}

p{
    padding-left: 20px;
}

h3{
    color: #8B008B;
    padding-left: 65px;
}

hr{
    border: 1px solid #D3D3D3;
    width: 95%;
}

.container{
    max-width: 830px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
}

.title{
    padding-left: 20px;
    font-family: young-serif;
    font-weight: normal;
    
}

.paragraph{
    font-family: outfit;
    font-size: 1.3em;
}

.container2{
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    padding-bottom: 20px;
    font-size: 1.2em;
}

#table-border{
    border-bottom: 1px solid #000000;
}

#color{
    color: #8B4513;
}

.list{
    margin-left: 45px;
}

.list-padding{
    padding-top: 15px;
    font-family: outfit;
}

.list-padding2{
    padding-top: 5px;
    font-family: outfit;
}

.list-padding3{
    padding-left: 10px;
    font-family: outfit;
}

.subtitle{
    color: #CD853F;
    padding-left: 20px;
    font-family: young-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}